{%render 'column-starter' with id: id, params: params, type: type %}

    {% if params.image_link != blank %}
      <a  data-aos-delay="{{delay}}{% assign delay = delay | plus: 50 %}" data-aos="fade-in" href="{{params.image_link}}" {% if params.link_external == true %} target="_blank" rel="nofollow" {%endif%} class=" content-column__image {% if params.parallax == true %} rellax-float {%endif%}"  data-rellax-speed="4">
         {% if params.image != blank %}
          {% render 'responsive-image' with
            image: params.image,
            max_width: 1000,
            max_height: 1000
          %}
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </a>
  {%else %}
    <div data-aos-delay="{{delay}}{% assign delay = delay | plus: 50 %}" data-aos="fade-in"  class="content-column__image {% if params.parallax == true %} rellax-float"  data-rellax-speed="3" {% else %} " {% endif %}>
        {% if params.image != blank %}
          {% render 'responsive-image' with
            image: params.image,
            max_width: 1000,
            max_height: 1000
          %}
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
  </div>
  {%endif%}
</div>