<a data-aos="fade-up" {% if delay %}data-aos-delay="{{delay}}" {%endif%} href="{{ product.url | within: collection }}" class="product-grid-item grid-item {% if simplify == true %} simplify {%endif%} {% if hover_details == true  %} detail-on-hover {%endif%} {% unless product.available %} sold-out {% endunless %} font--{{settings.product_font}}">
  {% render 'grid-item-image' with product: product, secondary_image: secondary_image %}
  <div class="product-details grid-item__details">
  {% comment %} Visible tags -- above {% endcomment %}
  {% if settings.tag_location == 'above'%}
    {% render 'visible-tags' with product: product %}
  {%endif%}
  {% comment %} Show the title {% endcomment %}
  <h5 class="product-title font--{{settings.font_family_product}}">{{ product.title | escape }}</h5>
  {% comment %} Collection Swatches for Coloring {% endcomment %}
  {% if settings.collection_swatches != 'disabled' %}
    <div class="collection-swatches style--{{settings.collection_swatches}}">{% render 'grid-swatches' with product: product %}</div>
  {%endif%}

  {% comment %} Visible "3-pack" text, for instance {% endcomment %}
  {% render 'visible-quantity' with product: product  %}

  {% comment %} Pricing   {% endcomment %}
  {% if show_price == true %}
    <span class="price-outer">
      {% if product.compare_at_price > product.price %}
          <s>{{product.compare_at_price | money}}</s>
          <span class="real-price">{{ product.price | money }}</span>
      {% else %}
        {% if product.price_varies %}
          {%- assign price = product.price | money -%}
          {{ 'products.product.from_text_html' | t: price: price }}
        {% else %}
          {{ product.price | money }}
        {% endif %}
      {% endif %}
      {% unless product.available %}<span class="sold-out-text">SOLD OUT</span>{% endunless %}
    </span>
  {%endif%}
  {% comment %} tags at bottom {% endcomment %}
  {% if settings.tag_location == 'below'%}{% include 'visible-tags'%} {%endif%}

  </div>{% comment %} end details  {% endcomment %}
</a>
