{%- capture default_text %}{{ 'general.newsletter_form.email_placeholder' | t }}{%endcapture%}
    {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
      {% else %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <input type="email"
          name="contact[email]"
          id="Email"
          value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
          placeholder="{{ placeholder | default: default_text}}"
          autocorrect="off"
          autocapitalize="off">
        <button type="submit" class="btn solid primary" name="commit" id="Subscribe">
          <span>{{ 'general.newsletter_form.submit' | t }}</span>
        </button>
      {% endif %}
    {% endform %}