{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}
{%include 'section-starter' with section_class: 'featured-collection' %}
<div class="section-inner can-grid">
  {% include 'common-header'%}

  {%- assign collection = collections[block.settings.collection] -%}
  {% capture max %}{%if collection.products.size <= block.settings.limit%}{{collection.products.size}}{% elsif block.settings.limit == 0%}100{%else%}{{block.settings.limit}}{%endif%}{%endcapture%}
  <div class="collection-grid product-grid size--{{block.settings.size}}" data-max="{{max}}" >

  {% for product in collection.products limit: block.settings.limit %}
    {% include 'grid-item' with secondary_image: block.settings.secondary_image}, show_price: block.settings.show_price}, simplify: block.settings.simplify, hover_details: block.settings.hoverer %}
    {% assign delay = delay | plus: 50 %}
  {% else %}
   {% include 'collection-fallback' %}
   {%endfor %}
  </div>
  {% if block.settings.button_text != blank %}
  <div class="button-wrap center">
    <a href="{{block.settings.button_url | default: collection.url}}" class="button">{{block.settings.button_text}}</a>
  </div>
  {%endif%}
</div>
</section>