{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}


{%- comment -%}
Starting variables
{%- endcomment -%}
{%- capture header_layout -%}{%- unless settings.header_layout -%}{%- if section.settings.layout_header != blank -%}{{section.settings.layout_header}}{%-endif-%}{%- else -%}{{settings.header_layout}}{%- endunless -%}{%- endcapture -%}
{%- capture header_fixed -%}{% if section.settings.header_fixed != blank %}{{section.settings.header_fixed}}{%endif%}{% if settings.header_fixed != blank %}{{settings.header_fixed}}{%endif%}{%- endcapture -%}
{% assign balanced_menu = false %}
{% if settings.social_layout contains 'balanced' or  section.settings.layout_header contains 'balanced' or settings.header_balanced == true %}
{% assign balanced_menu = true %}
{%endif%}


{% comment %} capturing markup vars  {% endcomment %}

{% capture search_markup %}
  {% unless settings.search_layout == disabled  %}
    {% render 'search-drawer' with show_text: settings.include_icon_text %}
  {%endunless %}
{%endcapture %}


{%capture header_markup %}
  <header role="banner" data-aos="fade-up" data-aos-delay="100" class="site-header {% if settings.social_layout ==  'below-header'%} with-socials{%endif%}" >
    {% if template.name == 'index' %}
      <h1 class="{{section.settings.header_font_size }} {% if section.settings.logo == blank and section.settings.logo_overlay == blank%} fallback{%endif%}">
    {% else %}
      <div class="h1 {{section.settings.header_font_size }} {% if section.settings.logo == blank and section.settings.logo_overlay == blank%} fallback{%endif%}">
    {% endif %}
        <a href="/" class="site-header__logo ">
                    {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
              {% if template.name == "index" and settings.overlay_header == true %}
              {% render 'responsive-image' with image: section.settings.logo_overlay,  min_width: 600, max_width: 900, max_height: 900, wrapper_class:"overlay-logo" %}

              {%endif%}
              {% if section.settings.logo != blank %}
              {% render 'responsive-image' with image: section.settings.logo, max_width: 900, min_width: 600,  max_height: 900 %}


            {% else %}
            <span class="title-text">
              {{ shop.name }}
            </span>
            {% endif %}
        </a>
    {% if template.name == 'index' %}
      </h1>
    {% else %}
      </div>
    {% endif %}

    {% if settings.social_layout ==  'below-logo'%}
      {%render 'social-icons' %}
    {%endif%}
  </header>
{%endcapture %}


{% capture menu_extras %}
  {% assign is_first_extra = true %}
  {% if settings.search_layout == 'after-menu' %}
    {% assign is_first_extra = false %}
      <li class="menu-icon first-extra" >
        {{search_markup }}
      </li>
    {%endif%}

    {% if section.settings.layout_account == 'after-menu' %}
      <li class="menu-icon {% if is_first_extra == true %} first-icon{% assign is_first_extra = false %}{%endif%}">
        {% render 'account-markup' with show_text: settings.include_icon_text%}
      </li>
  {%endif%}
  <li class="menu-icon {% if is_first_extra == true %} first-icon   {% assign is_first_extra = false %}{%endif%}">
      {% render 'cart-markup' with show_text: settings.include_icon_text %}
    </li>
{% endcapture %}


  {% comment %} Sidebar header above {% endcomment %}
{% if header_layout == 'sidebar-header' %}
  <section class="header-above">
    {% render 'nav-toggle' with show_text: settings.include_icon_text %}
    {% if settings.search_layout != 'disabled' %}
      {{search_markup}}
    {%endif%}
    {{header_markup}}
    {% if settings.accounts_layout != 'disabled' %}
      {% render 'account-markup' with show_text: settings.include_icon_text %}
    {%endif%}
    {% if settings.cart_layout != 'disabled' %}
    {% render 'cart-markup' with show_text: settings.include_icon_text%}
    {%endif%}
  </section>
{%endif%}




{% comment %} Laying out everything {% endcomment %}
<section data-section-id="{{ section.id }}" class="site-header__wrap {% unless header_layout contains 'sidebar' %}fixed--{{header_fixed}}{%endunless%} {% if settings.overlay_shadow  == true%} box-shadow {%endif%} {% if section.settings.expand_logo  == true%} expand-logo {%endif%} {% if settings.overlay_header  == true %} overlay-header {%endif%}" data-section-type="header">
<div class="site-header__inner {% if section.settings.layout_header == 'above' %}force-wrap{%endif%} mobile--{{settings.mm_behavior}} socials--{{settings.social_layout}}">
  <div class="site-header__inner-wrap  layout--{{header_layout}} {% if header_layout == 'above' %} header-centered {%endif%}">
    {% if header_layout == 'stacked' %}
      <div class="header-fullwidth">
      { {header_markup}}
      </div>
    {%endif%}

    {% if header_layout == 'menu' or header_layout contains "standard" or balanced_menu or header_layout  == 'sidebar' or header_layout == 'sidebar-modern' or header_layout == 'sidebar-collapseable' %}
    {{header_markup}}
    {%endif%}

    {% if header_layout == 'sidebar-collapseable' %}
      <div class="collapsed-logo">{% render 'responsive-image' with image: settings.favicon, max_width: 500, max_height: 500 %}</div>
    {%endif%}

    {% if header_layout contains 'centered' %}
        <div class="mobile-logo">
          {{header_markup}}
        </div>
    {%endif%}
    {% if settings.social_layout == 'before-menu' or settings.social_layout == 'after-logo'  %}
      {% include 'social-icons' %}
    {%endif%}

  <nav role="navigation" class="main-nav {% if section.settings.enable_mobile_menu == true %} make-mobile {%endif%} mobile-align--{{section.settings.mobile_menu_text_align}} mobile-text--{{section.settings.mobile_text}} mobile-text-inner--{{section.settings.mobile_inner_text}} align--{{section.settings.menu_text_align}} {% if section.settings.layout_header == 'menu-centered' %} has-halves {%endif%} " id="site-nav" >
    <div class="nav-inner">
    <div class="nav-inner__wrap {% if settings.social_layout == 'after-menu' %}  has-socials {%endif%} font--{{settings.font_family_menu | default: 'heading'}} weight--{{settings.font_weight_menu | default: 'bold'}} style--{{settings.font_style_menu | default: 'standard'}}" >


    {% assign menu = linklists[section.settings.menu] %}
  {% unless settings.mm_behavior == 'always' %}
    <ul class="main-menu">


  {% if header_layout contains 'centered' %}
    {% if header_layout == 'centered' %}
      {% assign center_style = "squished" %}
    {%endif%}

    {% comment %} Halving the menu for split around the logo {% endcomment %}
    <div class="nav-halves style--{{center_style | default: 'spaced'}}">
    {% comment %} Setup menu_count for halving {% endcomment %}
    {% assign menu_count = menu.links.size %}
    {% assign menu_break = menu_count | divided_by: 2 %}
    {% comment %} Setting things {% endcomment %}
    {% if settings.header_nudge == 'less' or settings.header_nudge == 'less' %} {%assign menu_break = menu_break | minus: 1 %}{%elsif settings.header_nudge == 'more' or settings.header_nudge == 'more' %}{%assign menu_break = menu_break | plus: 1 %}{%endif%}
    {% comment %} Index fix for the loop {% endcomment %}
    {% assign menu_count = menu_count | minus: 1 %} {%comment %} fix for the loop! {%endcomment%}
      {% comment %} First half {% endcomment %}
      <div class="nav-half nav-half__first">
        {% for i in (0 ..menu_break) %}
        {% assign link = menu.links[i] %}
          {% assign isbacklink = '' %}
          {% if section.settings.back_to_site == 'first' and i == 0 %} {% assign isbacklink = 'back-link' %}{%endif%}
          {% include 'menu-li'%}
        {%endfor %}
      </div>
      {% comment %} Logo {% endcomment %}
      <div class="nav-halves__logo">{{header_markup}}</div>
      {% comment %} Last half {% endcomment %}
      <div class="nav-half nav-half__last">
      {% assign continue = menu_break | plus: 1 %}  {%comment %} Start after where we left off {%endcomment%}
          {% for i in (continue .. menu_count) %}
            {% assign link = menu.links[i] %}
            {% assign isbacklink = '' %}
            {% if section.settings.back_to_site == 'last' and i == menu_count%} {% assign isbacklink = 'back-link' %}{%endif%}
            {% include 'menu-li'%}
        {%endfor%}
        {% if settings.search_layout == 'after-menu'  or settings.cart_layout == 'after-menu' %}
          <div class="nav-half__extras">
              {{menu_extras}}
          </div><!-- end extras -->
        {% endif%}
      </div>
    </div><!-- end nav-halves -->

    {%else %}{%comment%}If not menu-centered {%endcomment%}
        {% for link in menu.links %}
          {% assign isbacklink = '' %}
          {% if section.settings.back_to_site == 'first' and forloop.index <= 1%} {% assign isbacklink = 'back-link' %}{%endif%}
          {% if section.settings.back_to_site == 'last' and forloop.index >= linklists[section.settings.menu].links.size %} {% assign isbacklink = 'back-link' %}{%endif%}
          {% include 'menu-li'%}
        {% endfor %}
          {{menu_extras}}
        {%endif%} {%comment%}End menu-centered conditional {%endcomment%}
      </ul>
    {%endunless %} {% comment %} End 'menu_behavior' conditional {% endcomment %}


      {% if section.settings.layout_header != 'menu-centered' and settings.social_layout == 'after-menu' %}  {%comment%}Disable if menu-centered {%endcomment%}
        {% include 'social-icons' %}
      {%endif%}
    {% if section.settings.mobile_socials == true and section.settings.enable_mobile_menu == true %}
      <div class="mobile-socials mobile-menu-extra">
        {% include 'social-icons' %}
      </div>
    {%endif%}
    {% if section.settings.mobile_email == true and section.settings.enable_mobile_menu == true  %}
        <div class="mobile_email mobile-menu-extra">
          <div class="lightbox-button button" data-lightbox-type="html" data-module="lightbox-newsletter" data-lightbox-target="newsletter">{{section.settings.email_button_text | default: 'Get Emails'}}</div>
          <div class="lightbox-content" data-lightbox-content="newsletter">{% include 'newsletter-popup' %}</div>
        </div>
      {%endif%}
    </div><!--end nav-inner__wrap-->
      </div><!-- end nav-inner-->
    </nav>

    {% if balanced_menu %}
    {% include 'social-icons' %}
    {%endif%}
    {% if header_layout contains 'sidebar' %}
    <div class="mobile-icons">
    {%endif%}
    <div class="mobile-cart menu-icon mobile-icon">
      {% render 'cart-markup' with show_text: settings.mm_show_icon_text %}
    </div>
    {% render 'nav-toggle' %}
        {% if header_layout contains 'sidebar' %}
    </div>
    {%endif%}
  </div>

    {% if section.settings.layout_header == 'below' %}
    <div class="header-fullwidth">
    {{header_markup}}
    </div>
    {%endif%}
</div>
</section>

{% include 'mobile-menu' with menu: menu %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}


{%- comment -%}
Style + Script tags
{%- endcomment -%}
<style>
    .site-header__inner img, .site-header__inner svg {
      max-width: {{ section.settings.logo_max_width }}px;

    }
    header.site-header {
    {% if section.settings.logo != blank %}
      flex-basis: {{section.settings.logo_max_width}}px;
      max-width: {{section.settings.logo_max_width}}px;
      {% else %}
      flex-basis: auto;
    {%endif%}
    }
    @media only screen and (max-width: 750px) {
      .site-header__inner img, .site-header__inner svg {
        max-width: {{ section.settings.logo_max_width_mobile }}px;
      }
      header.site-header {
        flex-basis: {{section.settings.logo_max_width_mobile}}px;
      }
    }
</style>

<script>

{% unless header_layout contains 'sidebar' %}
  {% if settings.overlay_header == true %}
      document.body.classList.add('header-overlay');
  {%endif%}
  {% if header_fixed == 'fixed' %}
    document.getElementById('shopify-section-header').style.position = 'sticky';
    document.getElementById('shopify-section-header').style.top = '0px';
  {% elsif header_fixed == 'sticky-bottom' %}
    document.getElementById('shopify-section-header').classList.add('sticky-bottom')
  {%endif%}
  {% if settings.overlay_shadow == true %}
  document.body.classList.add('overlay-shadow');
  {%endif%}
{%endunless %}
</script>

{% schema %}
  {
    "name": "Header",
    "class" : "site-header__outer",
    "settings": [{
        "type": "header",
        "content": "settings"
    }, {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#ffffff"
    }, {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#3a3a3a"
      }, {
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay Color"
    },  {
        "type": "header",
        "content": "Header"

    }, {
        "type": "select",
        "id": "header_nudge",
        "label": "Centered Logo Nudge?",
        "default": "none",
        "info" : "This is to adjust the position of the header/menu items when the header logo is centered!",
        "options": [{
            "value": "less",
            "label": "One Less"
        }, {
            "value": "none",
            "label": "None"
        }, {
            "value": "more",
            "label": "One More"
        }]
    },  {
        "type": "header",
        "content": "Logo"
    }, {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
    }, {
        "type": "image_picker",
        "id": "logo_overlay",
        "label": "Logo image (overlay)"
    }, {
        "type": "range",
        "id": "logo_max_width",
        "label": {
            "de": "Logobreite",
            "en": "Logo Width",
            "es": "Ancho del logotipo personalizado",
            "fr": "Largeur personnalisée du logo",
            "it": "Larghezza logo personalizzato",
            "ja": "ロゴの幅をカスタムする",
            "pt-BR": "Largura do logotipo personalizado"
        },
        "min": 60,
        "max": 900,
        "step": 15,
        "unit": {
            "de": "px",
            "en": "px",
            "es": "px",
            "fr": "px",
            "it": "px",
            "ja": "px",
            "pt-BR": "px"
        },
        "default": 300
    }, {
        "type": "range",
        "id": "logo_max_width_mobile",
        "label": "Logo Width (Mobile)",
        "min": 50,
        "max": 300,
        "step": 5,
        "unit": "px",
        "default": 230
    }, {
        "type": "checkbox",
        "id": "expand_logo",
        "label": "Expand logo?",
        "default": false
    }, {
        "type": "header",
        "content": "Menu"
    }, {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
    }, {
        "type": "select",
        "id": "menu_text_align",
        "label": "Menu Text Align",
        "default" : "right",
        "options": [{
            "value": "left",
            "label": "Left"
        }, {
            "value": "center",
            "label": "Center"
        }, {
            "value": "right",
            "label": "Right"
        }]
    }, {
        "type": "select",
        "id": "back_to_site",
        "label": "Back To Site Link Position",
        "default": "none",
        "options": [{
            "value": "none",
            "label": "None"
        }, {
            "value": "last",
            "label": "Last Link"
        }, {
            "value": "first",
            "label": "First Link"
        }]
    }, {
        "type": "header",
        "content": "Mobile"
    }, {
        "type": "checkbox",
        "id": "mobile_text",
        "label": "Mobile Opener Icon Text",
        "info": "Includes 'Menu' text next to icon "
    }, {
        "type": "checkbox",
        "id": "mobile_inner_text",
        "label": "Mobile Inner Icons Text",
        "info": "Includes 'Search' and 'Cart' text next to icon",
        "default" : true
    }
  ]
}
{% endschema %}
