{%if section.settings.pre-text != blank %}
<div class="header-wrap job-pre">
  <h3 class="caps ">{{section.settings.pre-text}}</h3>
</div>
{%endif%}

<div class="job-grid__wrap">
  {% for block in section.blocks %}

  <div class="job-wrap main-box box-white " id="job-{% increment var_count %}" {{ block.shopify_attributes }}>
    <div class="job-inner">
      <div class="job-header">
        {%if block.settings.logo != empty %}
        <img class="job-image" src="{{block.settings.logo | img_url: '300w'}}" alt="{{block.settings.title}}">
        {%endif%}
        <div class="job-header__text">
          <h3>{{block.settings.title | escape }}</h3>
          {% if block.settings.subtitle %}
          <p class="caps">{{block.settings.subtitle | escape }}</h4>
          {%endif%}
        </div>
      </div>
      <div class="job-content rte">
        {{block.settings.description }}
        <div class="button-wrap">
          {% if block.settings.job_descript_btn_url != blank %}<a class="button btn outline small" href="{{ block.settings.job_descript_btn_url }}" data-fancybox data-type="iframe">{{ block.settings.job_descript_btn_text }}</a>{% endif %}
          <a class="button btn outline small" href="#contact">{{block.settings.button_text | default: 'Apply' | escape }}</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% schema %}
  {
    "name": "Job Listings",
    "class" : "jobs",
    "settings" : [
      {
        "type" : "text",
        "id" : "pre-text",
        "label" : "Pre Text",
        "default" : "Open Positions"
      }
    ],
    "blocks": [
      {
        "type" : "job",
        "name" : "Job Listing",
        "settings" : [
          {
            "type" : "text",
            "id" : "title",
            "label" : "Job Title"
          },
          {
            "type" : "text",
            "id" : "subtitle",
            "label" : "Job Subtitle or Division"
          },
           {
            "type" : "html",
            "id" : "description",
            "label" : "Job Description"
          },
          {
          "type" : "image_picker",
          "id" : "logo",
          "label" : "Job Logo"
          },
           {
            "type": "url",
            "id": "job_descript_btn_url",
            "label": "Full job description link"
          },
		      {
            "type": "text",
            "id": "job_descript_btn_text",
            "label": "Description Button Text",
            "default": "Read More"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Apply"
          }
        ]
      }
    ]
  }
{% endschema %}
