
<div class=" menu-footer">
  <div class="menu-footer__inner">
  {% if section.settings.address != blank %}
    <div class="menu-footer-block">
    <h3>{{section.settings.address}}</h3>
    </div>
   {%endif%}
  {% if section.settings.number != blank %}
    <div class="menu-footer-block">
    <h3>{{section.settings.number}}</h3>
    </div>
   {%endif%}
  {% if section.settings.site != blank %}
    <div class="menu-footer-block">
    <h3>{{section.settings.site}}</h3>
    </div>
   {%endif%}
  {% if section.settings.insta != blank %}
    <div class="menu-footer-block">
    <h3><a href="https://instagram.com/{{section.settings.insta | replace: '@', ''}}" target="_blank" rel="nofollow">{% include 'icon-instagram' %} {{section.settings.insta}}</h3></a>
    </div>
   {%endif%}
  </div>
</div>
<div class="post-menu">

 {% if section.settings.veg != blank %}
    <div class="post-menu-block tiny">
    <p>{{section.settings.veg | escape}}</p>
    </div>
   {%endif%}
   {% if section.settings.local != blank %}
   <div class="post-menu-block tiny">
      <p class="local"></span>{{section.settings.local | escape}}</h2>
    </div>
    {%endif%}

 {% if section.settings.disclaimer != blank %}
    <div class="post-menu-block big">
    <p>{{section.settings.disclaimer}}</p>
    </div>
   {%endif%}

</div>
{% schema %}
  {
    "name": "Menu Footer",
    "class" : "menu-section menu-footer-section menu-wide",
    "settings": [
      {
        "type" : "text",
        "id" : "address",
        "label" : "Footer Address"
      },
      {
        "type" : "text",
        "id" : "number",
        "label" : "Footer Number"
      },
      {
        "type" : "text",
        "id" : "site",
        "label" : "Footer Site"
      },
      {
        "type" : "text",
        "id" : "insta",
        "label" : "Menu Insta",
        "info" : "Has the instagram logo before!"
      },
        {
        "type" : "text",
        "id" : "local",
        "label" : "Local Text",
        "default" : "(L) Local"
      },
      {
        "type" : "text",
        "id" : "veg",
        "label" : "Veg Text",
        "default" : "(v) Vegetarian"
      },

      {
        "type" : "text",
        "id" : "disclaimer",
        "label" : "Disclaimer",
        "default" : "* Consuming raw or undercooked meats, poultry, seafood, shellfish, or eggs may increase your risk of food borne illness"
      }
    ]
  }
{% endschema %}