<h3 class="label">{{section.settings.title | default: 'Order Online'}}</h3>

{% if section.blocks.size > 0 %}
<div class="button-wrap">
{% for block in section.blocks %}
  {% if block.type == 'image' %}
  <a href="{{block.settings.url}}" target="_blank" rel="nofollow noreferrer">{{block.settings.image | img_url: '300x' | img_tag: block.settings.image.alt}}</a>
  {% else %}
  <a href="{{block.settings.url}}" target="_blank" class="button small" rel="nofollow noreferrer">{{block.settings.title | default: "Order Now"}}</a>
  {%endif%}
  {%endfor %}
</div>
{%endif%}

{% schema %}
  {
    "name": "Menu Buttons",
    "class" : "menu-buttons",
    "settings": [
      {
        "type" : "text",
        "id" : "title",
        "label" : "Menu Title",
        "default" : "Food Menu"
      }
    ],
    "blocks" : [
      {
        "type" : "image",
        "name" : "Image",
        "settings" : [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "url",
            "label": "URL"
          }
        ]
      },
      {
        "type" : "button",
        "name" : "Button",
        "settings" : [
          {
            "type": "text",
            "id": "title",
            "label": "Text",
            "default" : "Order Now"
          },
          {
            "type": "url",
            "id": "url",
            "label": "URL"
          }
        ]
      }
    ]
  }

{% endschema %}