{% include 'section-starter' with section_class: 'music-section' %}
<div class="section-inner music-inner">
  {% assign delay = 0 %}
  <div class="music-image" data-aos="fade-in" data-aos-delay="{{delay}}{% assign delay = delay | plus: 50 %}">
    {% include 'responsive-image' with image: section.settings.image, wrapper_class: 'music-cover', max_width: 800, max_height: 800 %}
    {% if section.settings.embed != blank%}
    <div data-aos="fade-in" data-aos-delay="{{delay}}{% assign delay = delay | plus: 50 %}" class="embed-wrap" style="margin: 18px auto 0">
      {{section.settings.embed}}
    </div>
    {%endif%}
  </div>

  <div class="music-content text-align--{{section.settings.text_align}}">
      {% if section.settings.introduction != blank or section.settings.title != blank  %}
    <div class="music-content-header section-header">
    {% include 'common-header' %}
      {% comment %} {% if section.settings.introduction != blank %}
        <h4 data-aos="fade-in" data-aos-delay="{{delay}}{% assign delay = delay | plus: 50 %}" class="h4 label section-header__pre_title">{{ section.settings.introduction | escape }}</h4>
      {% endif %}
      {% if section.settings.title != blank %}
        <h2 data-aos="fade-in" data-aos-delay="{{delay}}{% assign delay = delay | plus: 50 %}" class="h2 heading section-header__title">{{ section.settings.title | escape }}</h2>
      {% endif %}
      {% if section.settings.subtitle != blank %}
        <h5 data-aos="fade-in" data-aos-delay="{{delay}}{% assign delay = delay | plus: 50 %}" class="h4 label section-header__title">{{ section.settings.subtitle | escape }}</h2>
      {% endif %}
      {% if section.settings.button_url != blank and section.settings.button_text != blank %}
        <div class="button-wrap">
          <a href="{{section.settings.button_url}}" class="button accent">{{section.settings.button_text}}</a>
        </div>
      {%endif%} {% endcomment %}
    </div>
    {%endif%}
    <div class="music-links button-wrap align--{{section.settings.text_align}}">
     {% for block in section.blocks %}
        <a {% if section.settings.icon_color != blank %} style="color: {{section.settings.icon_color}}; " {%endif%} href="{{block.settings.url}}" data-aos="fade-up" data-aos-delay="{% increment delay | times: 50%}" class="button listen simple" title="{{block.settings.accessability_text}}"><i class="{{block.settings.classes}}" aria-hidden="true"></i> {{block.settings.button_text}}</a>
      {%endfor %}
    </div>
  </div>

  </div>
</section>
{% stylesheet %}
.music-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.music-content {
  padding: calc(18px + 1vw);
  flex: 1 1 300px;
}
.music-image {
  flex: 1 1 300px;
  max-width: 550px;
  margin: calc(5px + 0.5vw);
}
{% endstylesheet %}
{% schema %}
  {
    "name": "Music Feature",
    "class" : "standard-section",
    "settings": [

      {
        "type" : "header",
        "content" : "Music Feature Content"
      },
      {
        "type": "text",
        "id": "introduction",
        "label": "Introduction",
        "default": "The newest"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Music"
      },
      {
        "type" : "text",
        "id" : "subtitle",
        "label" : "Subtitle",
        "default" : "Listen Now"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type" : "text",
        "id" : "button_text",
        "label" : "Button Text"
      },
      {
        "type" : "url",
        "label" : "Button URL",
        "id" : "button_url"
      },
      {
        "type" : "header",
        "content" : "Music Settings"
      },
      {
        "type" : "image_picker",
        "id" : "image",
        "label" : "Release Image"
      },
      {
        "type": "html",
        "id": "embed",
        "label": "Embed"
      },
      {
        "type": "color",
        "id": "icon_color",
        "label": "Icon Color"
      },
      {
        "type": "header",
        "content": "Styles"
      },
      {
        "type" : "select",
        "id" : "text_align",
        "label" : "Text Alignment",
        "default" :  "center",
        "options" : [
          {
            "value" : "left",
            "label" : "Left"
          },
          {
            "value" : "center",
            "label" : "Center"
          },
          {
            "value" : "right",
            "label" : "Right"
          }
        ]
      },
      {
        "type" : "select",
        "id" : "text_size",
        "label" : "Text Size",
        "default" :  "standard",
        "options" : [
          {
            "value" : "small",
            "label" : "Small"
          },
          {
            "value" : "standard",
            "label" : "Standard"
          },
          {
            "value" : "large",
            "label" : "Large"
          },
          {
            "value" : "mega",
            "label" : "Mega"
          }
        ]
      },
      {
        "type" : "select",
        "id" : "text_style",
        "label" : "Text Style",
        "default" :  "standard",
        "info" : "Used for advanced branding!",
        "options" : [

          {
            "value" : "standard",
            "label" : "Standard"
          },
          {
            "value" : "special",
            "label" : "Special"
          },
          {
            "value" : "simple",
            "label" : "Simple"
          }
        ]
      },

      {
        "type" : "header",
        "content" : "Section Settings"
      },
       {
        "type" : "header",
        "content" : "Meta"
      },
      {
        "type": "text",
        "id" : "anchor_id",
        "label" : "Section ID (for anchor links and specific styling)"
      },
  {
        "type": "text",
        "id" : "anchor_classes",
        "label" : "Section classes (for  specific styling)"
      },
       {
        "type": "text",
        "id" : "title",
        "label" : "Nice Name",
        "info" : "Just for keeping the back end organized! Enter a nice name here",
        "default" : "Music Feature"
      },
      {
        "type" : "paragraph",
        "content" : "These are common options for all sections to make styling out background colors/images a bit easier, as well as editing spacing and sizing."
      },
      {
        "type" : "color",
        "id" : "background_color",
        "label" : "Background Color"
      },
      {
        "type" : "color",
        "id" : "text_color",
        "label" : "Text Color"
      },
      {
        "type" : "select",
        "id" : "section_size",
        "label" : "Section size",
        "default" : "large",
        "options" : [
          {
            "value" : "full-width",
            "label" : "Full Width"
          },
          {
            "value" : "large",
            "label" : "Large"
          },
          {
            "value" : "small",
            "label": "Small"
          }
        ]
      },
      {
        "type" : "select",
        "id" : "section_spacing",
        "label" : "Section Spacing",
        "default" : "medium",
        "options" : [
          {
            "value" : "none",
            "label" : "No Spacing"
          },
          {
            "value" : "small",
            "label": "Small"
          },
          {
            "value" : "medium",
            "label" : "Medium"
          }, {
"value" : "full-height",
"label" : "Full Height"
},
          {
            "value" : "large",
            "label" : "Large"
          },
          {
            "value": "huge",
            "label" : "Huge"
          }
        ]
      },
        {
        "type" : "image_picker",
        "id" : "background_image",
        "label" : "Background Image",
        "info": "Use with full-width sections, please!"
      },
      {
        "type" : "select",
        "id" : "background_style",
        "label" : "Background Image Style",
        "default" : "cover",
        "options" : [
          {
            "value" : "cover",
            "label" : "Cover"
          },
          {
            "value" : "repeat-x",
            "label" : "Horizontal Tile"
          },
          {
            "value" : "repeat-y",
            "label" : "Vertical Tile"
          },
          {
            "value" : "repeat-all",
            "label" : "Tile"
          },
          {
            "value" : "rellax",
            "label" : "Parallax"
          }
        ]
      }
    ],
     "blocks" : [
      {
        "type" : "link",
        "name" : "Link",
        "settings" : [
          {
            "type" : "url",
            "id" : "url",
            "label" : "URL"
          },
          {
            "type" : "text",
            "id" : "button_text",
            "label" : "Button Text",
            "default" :"Listen"
          },
          {
            "type" : "text",
            "id" : "accessability_text",
            "label" : "Accessability Text",
            "default" :"Listen on Apple Music"
          },
          {
            "type" : "select",
            "id" : "classes",
            "label" : "Icon",
            "options" : [
              {
                "value" : "icon-apple-music",
                "label" : "iTunes/Apple Music"
              },
              {
                "value" : "icon-spotify",
                "label" : "Spotify"
              },
              {
                "value" : "icon-youtube",
                "label" : "YouTube"
              },
              {
                "value" : "icon-google-play",
                "label" : "Google Play"
              },
              {
                "value" : "icon-amazon",
                "label" : "Amazon"
              },
              {
                "value" : "icon-amazon-music",
                "label" : "Amazon Music"
              },
              {
                "value" : "icon-pandora",
                "label" : "Pandora"
              },
              {
                "value" : "icon-deezer",
                "label" : "Deezer"
              },
              {
                "value" : "icon-basket",
                "label" : "Shopping Cart"
              },
              {
                "value" : "icon-shopping-bag",
                "label" : "Shopping Bag"
              }
            ],
            "default" : "icon-apple-music"
          }
        ]
      }
    ],
    "presets": [{
        "name": "Album",
        "category" : "Music"
    }]
  }
{% endschema %}
