{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Newsletter" section on the Theme Editor.

  Theme Store required settings
  - Heading: title of the newsletter section
  - Subheading: description of the newsletter section
{%- endcomment -%}

{% assign has_bg = false %}
{% if section.settings.section_size == 'full-width' and section.settings.background_image != blank %}
{% assign has_bg = true %}
{%endif%}
<section class="newsletter-section standard-section section-outer size--{{section.settings.section_size}} spacing--{{section.settings.section_spacing}} bg-style--{{section.settings.background_style}} lazyload" id="{{section.settings.anchor_id}}" {% if has_bg == true %}  style="background-image: url({{section.settings.background_image | img_url: '500x'}});"  data-bgset="{% include 'responsive-bg-image', image: section.settings.background_image%}" {%endif%}>
{% if section.settings.background_color != blank or section.settings.text_color != blank %}
  <style>
    #shopify-section-{{section.id}} {
      {% if section.settings.background_color != blank %}
      background-color:  {{section.settings.background_color}};
      {%endif%}
      {% if section.settings.text_color != blank %}
      color:  {{section.settings.text_color}};
      {%endif%}
    }
  </style>
{%endif%}
<div class="section-inner">
  {% include 'signup-form' %}

</section>

{% stylesheet 'scss' %}

  .newsletter-section {
  display: flex;
  min-height: 350px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  width: 100%;
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    input, button {
      height: 3em;
      margin: 5px;
      box-sizing: border-box;
    }
    input {
      height: 3.4em;
    }
    button.button {
      padding: 0.3em 1.2em ;
    }

  }
}
.newsletter-header {
  text-align: center;
  margin: 0.2em auto;
}
{% endstylesheet %}

{% schema %}
  {
    "name": "Newsletter",
    "class" : "standard-section",
    "settings": [
      {
        "type" : "header",
        "content" : "Meta"
      },
      {
        "type": "text",
        "id" : "anchor_id",
        "label" : "Section ID (for anchor links and specific styling)"
      },
  {
        "type": "text",
        "id" : "anchor_classes",
        "label" : "Section classes (for  specific styling)"
      },
       {
        "type": "text",
        "id" : "title",
        "label" : "Nice Name",
        "info" : "Just for keeping the back end organized! Enter a nice name here",
        "default" : "Newsletter"
      },
      {
        "type" : "header",
        "content" : "Newsletter Content"
      },
     {
       "type" : "paragraph",
       "content" : "Newsletter signup content is determined in Theme Options > Newsletter"
     },
      {
        "type" : "header",
        "content" : "Section Settings"
      },
      {
        "type" : "paragraph",
        "content" : "These are common options for all sections to make styling out background colors/images a bit easier, as well as editing spacing and sizing."
      },
      {
        "type" : "color",
        "id" : "background_color",
        "label" : "Background Color"
      },
      {
        "type" : "color",
        "id" : "text_color",
        "label" : "Text Color"
      },
      {
        "type" : "select",
        "id" : "section_size",
        "label" : "Section size",
        "default" : "large",
        "options" : [
          {
            "value" : "full-width",
            "label" : "Full Width"
          },
          {
            "value" : "large",
            "label" : "Large"
          },
          {
            "value" : "small",
            "label": "Small"
          }
        ]
      },
      {
        "type" : "select",
        "id" : "section_spacing",
        "label" : "Section Spacing",
        "default" : "medium",
        "options" : [
          {
            "value" : "none",
            "label" : "No Spacing"
          },
          {
            "value" : "small",
            "label": "Small"
          },
          {
            "value" : "medium",
            "label" : "Medium"
          }, {
"value" : "full-height",
"label" : "Full Height"
},
          {
            "value" : "large",
            "label" : "Large"
          },
          {
            "value": "huge",
            "label" : "Huge"
          }
        ]
      },
        {
        "type" : "image_picker",
        "id" : "background_image",
        "label" : "Background Image",
        "info": "Use with full-width sections, please!"
      },
      {
        "type" : "select",
        "id" : "background_style",
        "label" : "Background Image Style",
        "default" : "cover",
        "options" : [
          {
            "value" : "cover",
            "label" : "Cover"
          },
          {
            "value" : "repeat-x",
            "label" : "Horizontal Tile"
          },
          {
            "value" : "repeat-y",
            "label" : "Vertical Tile"
          },
          {
            "value" : "repeat-all",
            "label" : "Tile"
          },
          {
            "value" : "rellax",
            "label" : "Parallax"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Newsletter",
      "category": "Connect"
    }]
  }
{% endschema %}
