<div style="background-color: {{section.settings.background_color}}; color:{{section.settings.text_color}};" class="password-content__outer">
<style>
.password-content__outer {

  --password-bg: {{section.settings.background_color}};
  --password-color:{{section.settings.text_color}}
}
</style>
{% assign overlay_op = 100 | minus: section.settings.overlay | times: 0.01 %}
  <div class="password-bg" style="opacity:{{overlay_op}}" aria-label="{{section.settings.title}}">
  {% include 'vidbox' with video_url: section.settings.url, fallback_gif: section.settings.fallback_gif, fallback_image: section.settings.fallback_image, overlay: section.settings.overlay_op, start_time: section.settings.start_time %}



  </div>
   <div class="password-content">
    <div class="password-header__wrap">

        <h1 class="password-header__title">
          <div class="logo-wrap" style="max-width: {{section.settings.logo_max_width}}px">
              {% if section.settings.logo != blank %}
                {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
                <img src="{{ section.settings.logo | img_url: image_size }}"
                    sizes="50vw"
                    srcset="{{ section.settings.logo | img_url: '200x' }} 200w, {{ section.settings.logo | img_url: '450x' }} 450w, {{ section.settings.logo | img_url: '720x' }} 720w, {{ section.settings.logo | img_url: '900x' }}  "
                    alt="{{ section.settings.logo.alt | default: shop.name }}">
              {% else %}
                {{ shop.name }}
              {% endif %}
              </div>


        </h1>
        {% if section.settings.sub_header != empty%}<h4>{{section.settings.sub_header}}</h4>{%endif%}
      </div>
      {% unless section.settings.email_style == 'none' %}
      <div class="password-buttons button-wrap">
        {% include 'theme-signup' with signup_style: section.settings.email_style %}
      </div>
      {%endunless%}
    </div>
    <button id="passwordEnter" class="lightbox-button button simple" data-lightbox-type="html" data-module="lightbox" data-lightbox-target="login" aria-label="Enter with Password"><i class="icon-lock"></i></button>
    <div class="lightbox-content" data-lightbox-content="login">
      {% include 'password-popup' %}
    </div>

    </div><!--end password-header-wrap -->
   </div>
    <style>
      .password-content {
        --bg-color: {{section.settings.background_color}};
        --text-color: {{section.settings.text_color}};
      }
    </style>
</div>

{% schema %}
  {
    "name": "Password Content",
    "class": "password-wrap",
    "settings": [{
        "type": "header",
        "content": "Background"
    }, {
        "type": "color",
        "id": "background_color",
        "default": "#000000",
        "label": "Background Color",
        "info": "Also the overlay color!"
    }, {
        "type": "color",
        "id": "text_color",
        "default": "#FFFFFF",
        "label": "Text Color",
        "info": "Also the overlay color!"
    }, {
        "type": "image_picker",
        "id": "fallback_image",
        "label": "Fallback Image"
    }, {
        "type": "image_picker",
        "id": "fallback_gif",
        "label": "Fallback GIF",
        "info": "Use if you prefer a different image on mobile! (squarer dimensions, usually!)"
    }, {
        "type": "text",
        "id": "url",
        "label": "Video URL",
        "info": "Youtube (important) video url!"
    }, {
        "type": "range",
        "id": "start_time",
        "label": "Start Time",
        "info": "Set to 0 to not delay the start time.",
        "max": 160,
        "min": 0,
        "step": 2,
        "default": 0
    }, {
        "type": "range",
        "id": "overlay",
        "label": "Overlay",
        "info": "Set to 0 to disable overlay.",
        "max": 100,
        "min": 0,
        "step": 10,
        "default": 50
    }, {
        "type": "header",
        "content": "Logo"
    }, {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo Image"
    }, {
        "type": "range",
        "id": "logo_max_width",
        "label": "Logo Width",
        "min": 50,
        "max": 900,
        "step": 25,
        "unit": {
            "en": "px",
            "es": "px",
            "fr": "px",
            "it": "px",
            "ja": "px",
            "pt-BR": "px"
        },
        "default": 400
    }, {
        "type": "header",
        "content": "Content"
    }, {
        "type": "textarea",
        "id": "sub_header",
        "label": "Sub-header"
    }, {
        "type": "select",
        "id": "email_style",
        "label": "Email Style",
        "default": "none",
        "options": [{
            "value": "none",
            "label": "None"
        }, {
            "value": "popup",
            "label": "Popup"
        }, {
            "value": "standard",
            "label": "Standard"
        }, {
            "value": "minimal",
            "label": "Minimal"
        }]
    }]
}
{% endschema %}