{% if section.settings.show_related_products == true %}
<div class="product-template__container page-width" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="related-products" data-enable-history-state="true">



{% assign heading = section.settings.related_title %}

{% comment %}
  Set either or both to true, if you want
  to limit yourself to items with same vendor, and/or type.
{% endcomment %}

{% assign same_vendor = false %}
{% assign same_type = false %}

{% comment %}
  Collections to ignore.
  Never pick related items from those.
{% endcomment %}

{% assign exclusions = 'frontpage,all' | split: ',' %}

{% comment %}
  Looking for a relevant collection.
{% endcomment %}
{% assign match_object = section.settings.match | split: '\n' %}
{% assign matched_collection = false %}
{% assign title_downcase = product.title | downcase %}
{% assign slug_downcase = product.handle | downcase %}
{% for line in  match_object %}
  {% assign split_line = line | split: ' : ' %}
  {%assign needle_downcase =  split_line[0]  | downcase %}
  {% if title_downcase contains needle_downcase %}
    {% assign matched_collection = collections[split_line[1]] %}
  {% elsif slug_downcase contains needle_downcase %}
    {% assign matched_collection = collections[split_line[1]] %}
  {%elsif product.tags contains needle_downcase %}
    {% assign matched_collection = collections[split_line[1]] %}
  {%endif%}
{%endfor %}

{% unless matched_collection %}
{% if product.metafields.c_f['Related Products'] %}
  {% assign collection = collections[product.metafields.c_f['Related Products']] %}
{% endif %}

{% assign found_a_collection = false %}
{% if collection and collection.all_products_count > 1 %}
  {% unless exclusions contains collection.handle %}
    {% assign found_a_collection = true %}
  {% endunless %}
{% endif %}
{% unless found_a_collection %}
  {% for c in product.collections %}
    {% unless exclusions contains c.handle or c.all_products_count < 2 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
      {% break %}
    {% endunless %}
  {% endfor %}
{% endunless %}
{%else %}
{% assign collection = matched_collection %}
{% assign found_a_collection = true %}
{%endunless %}
{% comment %}
  If we have a relevant collection.
{% endcomment %}

{%- capture default_collection -%}{{section.settings.backup_collection | default: 'featured'}}{%- endcapture -%}
{% assign backup_collection = collections[default_collection] %}
{% if found_a_collection %}

  {% assign counter = 0 %}
  {% assign break_at = section.settings.limit %}
  {% assign current_product = product %}




{% assign max = counter %}
  {% capture related_items %}
    {% for product in collection.products %}
      {% unless product.handle == current_product.handle %}
         {% unless same_vendor and current_product.vendor != product.vendor %}
           {% unless same_type and current_product.type != product.type %}
           {% include 'grid-item' with secondary_image: true, show_price: true, simplify: section.settings.simplify, hover_details: section.settings.hover_details %}
             {% assign counter = counter | plus: 1 %}
              {% assign max = counter %}
             {% if counter == break_at %}
               {% break %}
             {% endif %}
           {% endunless %}
        {% endunless %}
      {% endunless %}
    {% endfor %}
    {% if max < break_at and collection != backup_collection %}
    {% for product in backup_collection.products %}
        {% unless product.handle == current_product.handle %}
          {% unless same_vendor and current_product.vendor != product.vendor %}
            {% unless same_type and current_product.type != product.type %}
            {% include 'grid-item' with secondary_image: true, show_price: true, simplify: section.settings.simplify, hover_details: section.settings.hover_details %}
              {% assign counter = counter | plus: 1 %}
                {% assign max = counter %}
              {% if counter == break_at %}
                {% break %}
              {% endif %}
            {% endunless %}
          {% endunless %}
        {% endunless %}
      {% endfor %}
    {%endif%}
  {% endcapture %}


  {% assign related_items = related_items | trim %}

  {% unless related_items == blank %}

  <aside class=" related-products section-outer">
      <div class="section-inner">
        {% include 'common-header' %}
          </div>
      <div class="grid-uniform collection-grid product-grid size--{{section.settings.size}}" data-max="{{max}}">
        {{ related_items }}
      </div>
      </div>
  </aside>

  {% endunless %}

{% endif %}

</div>
{% endif %}

{% schema %}
{
  "name": "Related products",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_related_products",
      "label": "Show related products",
      "default": true
    },
    {
      "type": "collection",
      "id": "backup_collection",
      "label": "Backup Collection",
      "info": "For use when there aren't enough collections "
    },
   {
        "type" : "select",
        "id" : "text_align",
        "label" : "Text Alignment",
        "default" :  "center",
        "options" : [
          {
            "value" : "left",
            "label" : "Left"
          },
          {
            "value" : "center",
            "label" : "Center"
          },
          {
            "value" : "right",
            "label" : "Right"
          }
        ]
      },
      {
        "type" : "select",
        "id" : "text_size",
        "label" : "Text Size",
        "default" :  "standard",
        "options" : [
          {
            "value" : "small",
            "label" : "Small"
          },
          {
            "value" : "standard",
            "label" : "Standard"
          },
          {
            "value" : "large",
            "label" : "Large"
          },
          {
            "value" : "mega",
            "label" : "Mega"
          }
        ]
      },
      {
        "type" : "select",
        "id" : "text_style",
        "label" : "Text Style",
        "default" :  "standard",
        "info" : "Used for advanced branding!",
        "options" : [

          {
            "value" : "standard",
            "label" : "Standard"
          },
          {
            "value" : "special",
            "label" : "Special"
          },
          {
            "value" : "simple",
            "label" : "Simple"
          }
        ]
      },
      {
        "type": "text",
        "id": "introduction",
        "label": "Introduction",
        "default": "Check out more products"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "You might like"
      },
      {
        "type" : "text",
        "id" : "subtitle",
        "label" : "Subtitle"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
    {
      "type" : "range",
      "id" :"limit",
      "label" : "Limit",
      "default" : 4,
      "step": 1,
      "min": 2,
      "max": 12
    },
     {
        "type" : "select",
        "id" : "size",
        "label" : "Grid Size",
        "default" : "large",
        "options" : [
          {
            "value" : "small",
            "label" : "Small"
          },
          {
            "value" : "standard",
            "label" : "Standard"
          },
          {
            "value" : "large",
            "label" : "Large"
          }
        ]
      },
    {
      "type" : "checkbox",
      "id" : "simplify",
      "default" : true,
      "label" : "Simplify related products?"
    },
    {
      "type" : "checkbox",
      "id" : "hover_details",
      "default" : true,
      "label" : "Details on hover?"
    },
    {
      "type" : "html",
      "label" : "Match Words",
      "id" : "match",
      "info" : "Match a word in the slug/title of the product with a collection. Separate with ' : ', and make sure to use the exact collection handle!"
    }
  ]
}
{% endschema %}