
<div class="product-recommendations" data-base-url="{{ routes.product_recommendations_url }}" data-product-id="{{ product.id }}" data-limit="{{ section.settings.limit }}">
  {% if recommendations.performed %}
  {%- if recommendations.products_count > 0  -%}
{%include 'section-starter' with section_class: 'related-products' %}
  <div class="section-inner can-grid ">
  {% if section.settings.heading != blank or section.settings.introduction != blank %}
    {% include 'common-header' with include_button: false %}
  {%endif%}
    <div class="collection-grid related-grid product-grid size--{{section.settings.size}}" data-max="{{section.settings.limit}}" >
    {% for product in recommendations.products %}
      {% render 'grid-item' with product: product, section: section %}
    {% endfor %}
  </div>
  {%endif%}
  </div>
  </section>
  {% else %}
  <div class="product-recommendations__loading-dots">
          <div class="product-recommendations__loading-dot"></div>
          <div class="product-recommendations__loading-dot"></div>
          <div class="product-recommendations__loading-dot"></div>
        </div>
  </section>
  {% endif%}
  </div>

{% stylesheet %}
  @keyframes loadDots {
    0% {
      opacity: 0.3;
      transform: translateY(0);
    }
    50% {
      opacity: 0.6;
      transform: translateY(-3px);
    }
    100% {
      opacity: 0.3;
      transform: translateY(0);
    }
  }

.product-recommendations__loading-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 140px;
}
  .product-recommendations__loading-dot {
    opacity: 0.3;
    width: 12px;
    margin: 4px;
    height: 12px;
    border-radius:12px;
    background: currentColor;
    animation: 2s loadDots infinite ease;
  }

  .product-recommendations__loading-dot:nth-child(2) {
    animation-delay: 0.66s;
  }
  .product-recommendations__loading-dot:nth-child(3) {
    animation-delay: 1.33s;
  }
{% endstylesheet %}
{% schema %}
{
  "name": "Related products",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_related_products",
      "label": "Show related products",
      "default": true
    },

   {
        "type" : "select",
        "id" : "text_align",
        "label" : "Text Alignment",
        "default" :  "center",
        "options" : [
          {
            "value" : "left",
            "label" : "Left"
          },
          {
            "value" : "center",
            "label" : "Center"
          },
          {
            "value" : "right",
            "label" : "Right"
          }
        ]
      },
      {
        "type" : "select",
        "id" : "text_size",
        "label" : "Text Size",
        "default" :  "standard",
        "options" : [
          {
            "value" : "small",
            "label" : "Small"
          },
          {
            "value" : "standard",
            "label" : "Standard"
          },
          {
            "value" : "large",
            "label" : "Large"
          },
          {
            "value" : "mega",
            "label" : "Mega"
          }
        ]
      },
      {
        "type" : "select",
        "id" : "text_style",
        "label" : "Text Style",
        "default" :  "standard",
        "info" : "Used for advanced branding!",
        "options" : [

          {
            "value" : "standard",
            "label" : "Standard"
          },
          {
            "value" : "special",
            "label" : "Special"
          },
          {
            "value" : "simple",
            "label" : "Simple"
          }
        ]
      },
      {
        "type": "text",
        "id": "introduction",
        "label": "Introduction",
        "default": "More "
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "For You"
      },

    {
      "type" : "range",
      "id" :"limit",
      "label" : "Limit",
      "default" : 4,
      "step": 1,
      "min": 2,
      "max": 12
    },
     {
        "type" : "select",
        "id" : "size",
        "label" : "Grid Size",
        "default" : "standard",
        "options" : [
          {
            "value" : "small",
            "label" : "Small"
          },
          {
            "value" : "standard",
            "label" : "Standard"
          },
          {
            "value" : "large",
            "label" : "Large"
          },
          {
            "value" : "huge",
            "label" : "Huge"
          }
        ]
      }
  ]
}
{% endschema %}
{% javascript %}

var getClosest = function (elem, selector) {
  for (; elem && elem !== document; elem = elem.parentNode) {
    if (elem.matches(selector)) return elem;
  }
  return null;
};

/// Grid-swatches
class GridSwatch {
  constructor(el) {
    this.el = el
    const swatches = [].slice.call(el.querySelectorAll('.swatch-element'));
    let linkWrap = getClosest(el, '.grid-item');
    var imgWrap = linkWrap.querySelector('.grid-item__image');
    console.log(linkWrap)
    linkWrap.addEventListener('click', function(event) {
      console.log(event.target);
      var button = event.target.parentNode;
      if (swatches.includes(event.target) || swatches.includes(button)) {
        if (button.classList.contains('selected')) {


        } else {
          event.preventDefault();
          imgWrap.classList.remove('variant-image-active');
          swatches.forEach(el=> {
            el.classList.remove('selected')
          })
          setTimeout(() => {
            button.classList.add('selected');
          }, 25);
          linkWrap.setAttribute('href', button.getAttribute('data-url'));
          if (typeof button.getAttribute('data-image') == 'string' && button.getAttribute('data-image') != 'false') {
            imgWrap.classList.add('variant-image-active');
            imgWrap.style.backgroundImage = "url('" + button.getAttribute('data-image') + "')";
          }
        }
      }
    });
  }
}

var loadProductRecommendationsIntoSection = function() {
  // Look for an element with class 'product-recommendations'
  var productRecommendationsSection = document.querySelector(".product-recommendations");
  if (productRecommendationsSection === null) { return; }
     // Read product id from data attribute
     var productId = productRecommendationsSection.dataset.productId;
     // Read base URL from data attribute
     var baseUrl = productRecommendationsSection.dataset.baseUrl;
     // Read limit from data attribute
     var limit = productRecommendationsSection.dataset.limit;
     // Build request URL
     var requestUrl = baseUrl + "?section_id=related-products&product_id=" + productId + "&limit=" + limit;
  // Create request and submit it using Ajax
  var request = new XMLHttpRequest();
  request.open("GET", requestUrl);
  request.onload = function() {
    if (request.status >= 200 && request.status < 300) {
      var container = document.createElement("div");
      container.innerHTML = request.response;
      productRecommendationsSection.parentElement.innerHTML = container.querySelector(".product-recommendations").innerHTML;

      var finishedProducts = container.querySelectorAll('.product-grid-item');
      var collectionGrid = document.querySelector('.related-grid');
      if (finishedProducts && collectionGrid) {
        collectionGrid.setAttribute('data-max', finishedProducts.length);
        loadSection();
      }
    }
  };
  request.send();
};

var  loadSection = function() {
  var container = document.querySelector('.related-products');
  var finishedProducts = container.querySelectorAll('.product-grid-item');
  finishedProducts.forEach(el=> {
    var gridSwatch = el.querySelector('[data-module="grid-swatch"]');
    if (gridSwatch) {
      new GridSwatch(gridSwatch);
    }
  })
}


// If your section has theme settings, the theme editor
// reloads the section as you edit those settings. When that happens, the
// recommendations need to be fetched again.
// See https://help.shopify.com/en/themes/development/sections/integration-with-theme-editor
document.addEventListener("shopify:section:load", function(event) {
  if (event.detail.sectionId === "related-products") {
    loadProductRecommendationsIntoSection();
  }
});
// Fetching the recommendations on page load
loadProductRecommendationsIntoSection();
{% endjavascript %}
