{% include 'section-starter' %}

<div class="overlay-section rotating-background__content style--{{section.settings.content_style}} type--{{overlay_type}} {% if section.settings.full_width == true %} full-width {%endif%}" id="{{section.settings.anchor_id}}">
{% include 'common-header' %}
    <div class="swiper-container" data-module="swiper" data-swiper-speed="{{section.settings.speed}}" data-swiper-dots="{{section.settings.dots}}" data-swiper-arrows="{{section.settings.arrows}}" data-swiper-animation="{{section.settings.type}}" data-auto-height="false">
      <div class="swiper-wrapper">
        {%for slide in section.blocks %}
        {%if slide.type == 'video' %}
            {% include 'slide-video' with background: true %}
        {% else %}
          {% include 'slide-background' with background: true%}
          {%endif%}
        {%endfor%}
      </div>
      {% if section.settings.dots == true %}
      {%endif%}
      {% if section.settings.arrows == true %}
       <div class="swiper-pagination"></div>
      <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      {% endif %}
    </div>
</div>
</section>

{% stylesheet 'scss' %}
  .rotating-background {

    .overlay-section {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 44vw;
      padding: 5vw 2vw;

      .header-overlay &:first-child .overlay-section {

      }
      .common-header__outer {
        position: relative;
        z-index: 10;
      }
      .swiper-container {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .swiper-wrapper {
        height: 100%;
      }
    }
  }

  .header-overlay .rotating-background:first-of-type .overlay-section {
    padding: calc(3vw + 100px) 12px !important;
  }
{% endstylesheet %}

{% schema %}
  {
    "name" : "Rotating Image Background",
    "class" : "image-section rotating-background",
    "settings" : [
       {
        "type" : "header",
        "content" : "Meta"
      },
      {
        "type": "text",
        "id" : "anchor_id",
        "label" : "Section ID (for anchor links and specific styling)"
      },
  {
        "type": "text",
        "id" : "anchor_classes",
        "label" : "Section classes (for  specific styling)"
      },
       {
        "type": "text",
        "id" : "title",
        "label" : "Nice Name",
        "info" : "Just for keeping the back end organized! Enter a nice name here",
        "default" : "Rotating background"
      },
      {
        "type" : "header",
        "content" : "Slideshow Content"
      },
      {
        "type" : "image_picker",
        "id" : "logo",
        "label" : "Logo"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "label": {
            "de": "Logobreite",
            "en": "Logo Width",
            "es": "Ancho del logotipo personalizado",
            "fr": "Largeur personnalisée du logo",
            "it": "Larghezza logo personalizzato",
            "ja": "ロゴの幅をカスタムする",
            "pt-BR": "Largura do logotipo personalizado"
        },
        "min": 50,
        "max": 900,
        "step": 25,
        "unit": {
            "de": "px",
            "en": "px",
            "es": "px",
            "fr": "px",
            "it": "px",
            "ja": "px",
            "pt-BR": "px"
        },
        "default": 350
      },
      {
        "type": "text",
        "id": "introduction",
        "label": "Introduction",
        "default": "Text over a"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Rotating Background"
      },
      {
        "type" : "text",
        "id" : "subtitle",
        "label" : "Subtitle",
        "default" : "And even more!"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type" : "header",
        "content" : "Content Buttons"
      },
      {
        "type" : "text",
        "id" : "button_1_text",
        "label" : "Button 1 Text"
      },
      {
        "type" : "url",
        "id" :"button_1_url",
        "label" :"Button 1 URL"
      },
      {
        "type" : "text",
        "id" : "button_2_text",
        "label" : "Button 2 Text"
      },
      {
        "type" : "url",
        "id" :"button_2_url",
        "label" :"Button 2 URL"
      },
      {
        "type": "header",
        "content": "Slider settings"
      },
      {
        "type" : "range",
        "id" : "speed",
        "label" : "Autoplay Speed (S)",
        "info" : "Set to 0 to disable autoplay.",
        "max" : 20,
        "min" : 0,
        "step" : 1,
        "default" : 12
      },
      {
        "type" : "checkbox",
        "id" : "dots",
        "label" : "Enable Dots?"
      },
      {
        "type" : "checkbox",
        "id" : "arrows",
        "label" : "Enable arrows?"
      },
      {
        "type" : "select",
        "id" : "type",
        "label" : "Animation Type",
        "options" : [
          {
            "value" : "slide",
            "label" : "Slide"
          },
          {
            "value" : "fade",
            "label" : "fade"
          }
        ]
      },
      {
        "type" : "header",
        "content" : "Section Settings"
      },
      {
        "type" : "paragraph",
        "content" : "These are common options for all sections to make styling out background colors/images a bit easier, as well as editing spacing and sizing."
      },
      {
        "type" : "color",
        "id" : "background_color",
        "label" : "Background Color"
      },
      {
        "type" : "color",
        "id" : "text_color",
        "label" : "Text Color"
      },
      {
        "type" : "select",
        "id" : "section_size",
        "label" : "Section size",
        "default" : "large",
        "options" : [
          {
            "value" : "full-width",
            "label" : "Full Width"
          },
          {
            "value" : "large",
            "label" : "Large"
          },
          {
            "value" : "small",
            "label": "Small"
          }
        ]
      },
      {
        "type" : "select",
        "id" : "section_spacing",
        "label" : "Section Spacing",
        "default" : "none",
        "options" : [
          {
            "value" : "none",
            "label" : "No Spacing"
          },
          {
            "value" : "small",
            "label": "Small"
          },
          {
            "value" : "medium",
            "label" : "Medium"
          }, {
"value" : "full-height",
"label" : "Full Height"
},
          {
            "value" : "large",
            "label" : "Large"
          },
          {
            "value": "huge",
            "label" : "Huge"
          }
        ]
      },
     {
          "type": "header",
          "content": "Style + Alignment"
        },
        {
          "type": "select",
          "id": "content_style",
          "label": "Content Style",
          "default": "centered",
          "options": [
            {
              "value": "centered",
              "label": "Centered (no background)"
            },
            {
              "value": "boxed",
              "label": "Boxed "
            },
            {
              "value": "boxed-extra",
              "label": "Boxed (W/extra)"
            }
          ]
        },
         {
          "type": "select",
          "id": "content_style_mobile",
          "label": "Content Style (Mobile)",
          "default": "centered",
          "options": [
            {
              "value": "centered",
              "label": "Centered (no background)"
            },
            {
              "value": "boxed",
              "label": "Boxed "
            },
            {
              "value": "boxed-extra",
              "label": "Boxed (w/extra)"
            }
          ]
        },
        {
          "type": "select",
          "id": "content_location",
          "label": "Content Location",
          "default": "centered",
          "options": [
            {
              "value": "centered",
              "label": "Centered"
            },
            {
              "value": "bottom-left",
              "label": "Bottom Left"
            },
            {
              "value": "bottom-right",
              "label": "Bottom Right"
            },
            {
              "value": "top-left",
              "label": "Top Left"
            },
            {
              "value": "top-right",
              "label": "Top Right"
            },
            {
              "value": "center-left",
              "label": "Center Left"
            },
            {
              "value": "center-right",
              "label": "Center Right"
            }
          ]
        },

        {
          "type": "select",
          "id": "text_align",
          "label": "Text Alignment",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "Text Size",
          "default": "standard",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "standard",
              "label": "Standard"
            },
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "mega",
              "label": "Mega"
            }
          ]
        },
        {
          "type" : "select",
          "id" : "text_style",
          "label" : "Text Style",
          "default" :  "standard",
          "info" : "Used for advanced branding!",
          "options" : [

            {
              "value" : "standard",
              "label" : "Standard"
            },
            {
              "value" : "special",
              "label" : "Special"
            },
            {
              "value" : "simple",
              "label" : "Simple"
            }
          ]
        },
      {
        "type" : "checkbox",
        "id" : "full_width",
        "label" : "Full width?",
        "default" : true
      }
    ],
    "blocks" : [
      {
        "name" : "Image",
        "type" : "image",
        "settings" : [
          {
            "type" : "header",
            "content" : "background"
          },
          {
            "type" : "color",
            "id" : "background_color",
            "default"                                : "#000000",
            "label" : "Background Color",
            "info" : "Also the overlay color!"
          },
          {
            "type" : "image_picker",
            "id" : "image",
            "label" : "Background Image"
          },
          {
            "type" : "image_picker",
            "id" : "image_mobile",
            "label" : "Mobile Image",
            "info" : "Use if you prefer a different image on mobile! (squarer dimensions, usually!)"
          },
          {
            "type" : "range",
            "id" : "overlay",
            "label" : "Overlay",
            "info" : "Set to 0 to disable overlay.",
            "max" : 100,
            "min" : 0,
            "step" : 10,
            "default" : 50
          },

          {
            "type" : "range",
            "id" : "center_x",
            "label" : "Center (X)",
            "max" : 100,
            "min" : 0,
            "step" : 10,
            "default" : 50
          },
          {
            "type" : "range",
            "id" : "center_y",
            "label" : "Center (Y)",
            "max" : 100,
            "min" : 0,
            "step" : 10,
            "default" : 50
          }
        ]
      },
      {
        "name" : "Video",
        "type" : "video",
        "settings" : [
          {
            "type" : "header",
            "content" : "background"
          },
          {
            "type" : "color",
            "id" : "background_color",
            "default" : "#000000",
            "label" : "Background Color",
            "info" : "Also the overlay color!"
          },

          {
            "type" : "image_picker",
            "id" : "image",
            "label" : "Background Image"
          },
          {
            "type" : "image_picker",
            "id" : "fallback_gif",
            "label" : "Fallback Gif"
          },
          {
            "type": "select",
            "id": "video_type",
            "label": "Video Type",
            "options": [
              {
              "value": "local",
              "label": "Local"
              },
              {
                "value" : "youtube",
                "label" : "Youtube"
              }
            ],
            "default": "youtube"
          },
          {
            "type": "header",
            "content": "Local Video"
          },
          {
            "type": "url",
            "id": "mp4_large",
            "label": "Video URL",
            "info" : "Upload your video to Settings->Files, then copy the url here. MUST BE MP4"
          },
          {
            "type": "url",
            "id": "mp4_small",
            "label": "Video URL (Smaller Size)",
            "info" : "Upload your video to Settings->Files, then copy the url here. MUST BE MP4"
          },
          {
            "type" :"header",
            "content" : "Youtube"
          },
          {
            "type" : "text",
            "id" : "url",
            "default" : "https://www.youtube.com/watch?v=qtQgbdmIO30",
            "label" : "Video URL",
            "info" : "Youtube (important) video url!"
          },
          {
            "type" : "range",
            "id" : "start_time",
            "label" : "Start Time",
            "info" : "Set to 0 to not delay the start time.",
            "max" : 160,
            "min" : 0,
            "step" : 2,
            "default" : 0
          },
          {
            "type" : "range",
            "id" : "overlay_op",
            "label" : "Overlay",
            "info" : "Set to 0 to disable overlay.",
            "max" : 100,
            "min" : 0,
            "step" : 10,
            "default" : 50
          }
        ]
      }

    ],
    "max_blocks" : 10,
    "presets" : [
        {
          "name" : "Background Slideshow",
          "category" : "Image",
          "blocks" : [{
            "type" : "image"
          }]
        }
    ]
  }
{% endschema %}