{% unless enable == false %}

{%capture overlay_type %}{% if section.blocks.size == 1 %}{{section.blocks[0].type}}{%else%}slideshow{%endif%}{%endcapture%}
<div class="overlay-section type--{{overlay_type}} {% if section.settings.full_width == true %} full-width {%endif%}" id="{{section.settings.anchor_id}}">
  {% if overlay_type == 'banner' %}
    {%assign slide = section.blocks[0] %}
    {% include 'slide-banner' %}
  {%elsif overlay_type == 'video' %}
    {%assign slide = section.blocks[0] %}
    {% include 'slide-video' %}
  {%elsif overlay_type == 'background' %}
    {%assign slide = section.blocks[0] %}
    {% include 'slide-background' %}
  {% else %}
    <div class="swiper-container" data-module="swiper" data-swiper-speed="{{section.settings.speed}}" data-swiper-dots="{{section.settings.dots}}" data-swiper-arrows="{{section.settings.arrows}}" data-swiper-animation="{{section.settings.type}}">
      <div class="swiper-wrapper">
        {%for slide in section.blocks %}
        {% if slide.type == 'banner' %}
            {% include 'slide-banner' %}
          {%elsif slide.type == 'video' %}
            {% include 'slide-video' %}
          {%elsif slide.type == 'background' %}
            {% include 'slide-background' %}
          {%endif%}
        {%endfor%}
      </div>
      {% if section.settings.dots == true %}
      {%endif%}

      {% if section.settings.arrows == true %}
       <div class="swiper-pagination"></div>
      <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"><i class="icon-caret-left" aria-label="Previous Slide"></i></div>
        <div class="swiper-button-next"><i class="icon-caret-right" aria-label="Next Slide"></i></div>
      {% endif %}
    </div>
  {%endif%}
</div>
{%endunless%}
{% schema %}
  {
    "name" : "Store Slider",
    "class" : "image-section",
    "settings" : [

      {
        "type" : "checkbox",
        "id" : "enable",
        "label" : "Enable store slider?",
        "default" : true
      },
      {
        "type" : "header",
        "content" : "Image/Video/Slider Section"
      },
      {
        "type" : "paragraph",
        "content" : "Add a type of overlay or image content by adding a block below. Use JUST IMAGE for a classic image banner (with desktop and mobile sizing). Use IMAGE w/CONTENT for a background image with overlayed content. Use VIDEO for a background video with image fallback. You may add more than one block to create a slideshow."
      },
      {
        "type" : "header",
        "content" : "Slideshow Settings"
      },
      {
        "type" : "checkbox",
        "id" : "full_width",
        "label" : "Full width?",
        "default" : true
      },
      {
        "type" : "range",
        "id" : "speed",
        "label" : "Autoplay Speed (S)",
        "info" : "Set to 0 to disable autoplay.",
        "max" : 16,
        "min" : 0,
        "step" : 1,
        "default" : 6
      },
      {
        "type" : "checkbox",
        "id" : "dots",
        "label" : "Enable Dots?"
      },
      {
        "type" : "checkbox",
        "id" : "arrows",
        "label" : "Enable arrows?"
      },
      {
        "type" : "select",
        "id" : "type",
        "label" : "Animation Type",
        "options" : [
          {
            "value" : "slide",
            "label" : "Slide"
          },
          {
            "value" : "fade",
            "label" : "fade"
          }
        ]
      },
      {
        "type" : "header",
        "content" : "Overlay"
      },
      {
        "type" : "select",
        "id" : "overlay_type",
        "label" : "Overlay Content Type",
        "default" : "disabled",
        "options" : [{
          "value" : "disabled",
          "label" : "Disabled"
        },
        {
          "value" : "newsletter",
          "label" : "Newsletter Signup"
        },
        {
          "value" : "standard",
          "label" : "Standard"
        },
        {
          "value" : "embed",
          "label" : "Embed"
        }]
      },
      {
        "type" : "text",
        "id" : "overlay_title",
        "label" : "Overlay Content Title"
      },
      {
        "type" : "text",
        "id" : "overlay_pre_title",
        "label" : "Overlay Content Pre Title"
      },
      {
        "type" : "richtext",
        "id" : "overlay_content",
        "label" : "Overlay Content"
      },
      {
        "type" : "text",
        "id" : "overlay_button_text",
        "label" : "Overlay Content Button Text"
      },
      {
        "type" : "url",
        "id" : "overlay_button_url",
        "label" : "Overlay Button URL"
      }
    ],
    "blocks" : [
      {
        "name" : "Image w/Content",
        "type" : "background",
        "settings" : [
          {
            "type" : "header",
            "content" : "background"
          },
          {
            "type" : "color",
            "id" : "background_color",
            "default" : "#000000",
            "label" : "Background Color",
            "info" : "Also the overlay color!"
          },
          {
            "type" : "color",
            "id" : "text_color",
            "default" : "#ffffff",
            "label" : "Text Color"
          },
          {
            "type" : "image_picker",
            "id" : "image",
            "label" : "Background Image"
          },
          {
            "type" : "image_picker",
            "id" : "image_mobile",
            "label" : "Mobile Image",
            "info" : "Use if you prefer a different image on mobile! (squarer dimensions, usually!)"
          },
          {
            "type" : "range",
            "id" : "overlay",
            "label" : "Overlay",
            "info" : "Set to 0 to disable overlay.",
            "max" : 100,
            "min" : 0,
            "step" : 1,
            "default" : 50
          },
          {
            "type" : "checkbox",
            "id" : "parallax",
            "label" : "Enable Parallax Scrolling Effect"
          },
          {
            "type" : "header",
            "content" : "content"
          },
          {
            "type" : "checkbox",
            "id" : "mega_text",
            "label" : "Mega Text Size?"
          },
          {
            "type" : "checkbox",
            "id" : "shadow_text",
            "label" : "Text Shadow?"
          },
          {
            "type" : "text",
            "id" : "pre_title",
            "label" : "Pre-Title",
            "default" : "This is an"
          },
          {
            "type" : "text",
            "id" : "title",
            "label" : "Title",
            "default" : "Image Overlay Section"
          },
          {
            "type" : "textarea",
            "id" : "content",
            "label" : "Content"
          },
          {
            "type" : "image_picker",
            "id" : "title_image",
            "label" : "Title Logo"
          },
          {
            "type" : "header",
            "content" : "buttons"
          },
          {
            "type" : "text",
            "id" : "button_1_text",
            "default" : "Collection Button",
            "label" : "Button 1 Text"
          },
          {
            "type" : "url",
            "id" : "button_1_link",
            "default" : "/collections/all",
            "label" : "Button 1 Link"
          },
          {
            "type" : "text",
            "id" : "button_2_text",
            "label" : "Button 2 Text"
          },
          {
            "type" : "url",
            "id" : "button_2_link",
            "label" : "Button 2 Link"
          }
        ]
      },
      {
        "name" : "Just Image",
        "type" : "banner",
        "settings" : [
          {
            "type" : "header",
            "content" : "background"
          },
          {
            "type" : "color",
            "id" : "background_color",
            "default" : "#000000",
            "label" : "Background Color",
            "info" : "Also the overlay color!"
          },
          {
            "type" : "color",
            "id" : "text_color",
            "default" : "#ffffff",
            "label" : "Text Color"
          },
          {
            "type" : "image_picker",
            "id" : "image",
            "label" : "Background Image"
          },
          {
            "type" : "image_picker",
            "id" : "image_mobile",
            "label" : "Mobile Image",
            "info" : "Use if you prefer a different image on mobile! (squarer dimensions, usually!)"
          },
          {
            "type" : "range",
            "id" : "overlay",
            "label" : "Overlay",
            "info" : "Set to 0 to disable overlay.",
            "max" : 100,
            "min" : 0,
            "step" : 1,
            "default" : 0
          },
          {
            "type" : "checkbox",
            "id" : "parallax",
            "label" : "Enable Parallax Scrolling Effect"
          },
           {
            "type" : "text",
            "id" : "title",
            "label" : "Label for image (accessability)"
          },
          {
            "type" : "url",
            "id" : "url",
            "label" : "Link"
          },
          {
            "type": "checkbox",
            "id": "target",
            "label": "Open in new window?",
            "default": false
          }
        ]
      },
      {
        "name" : "Video w/ Content",
        "type" : "video",
        "settings" : [
          {
            "type" : "header",
            "content" : "background"
          },
          {
            "type" : "color",
            "id" : "background_color",
            "default" : "#000000",
            "label" : "Background Color",
            "info" : "Also the overlay color!"
          },
          {
            "type" : "color",
            "id" : "text_color",
            "default" : "#ffffff",
            "label" : "Text Color"
          },
          {
            "type" : "image_picker",
            "id" : "image",
            "label" : "Background Image"
          },
          {
            "type" : "image_picker",
            "id" : "fallback_gif",
            "label" : "Fallback Gif"
          },
          {
            "type" : "text",
            "id" : "url",
            "default" : "https://www.youtube.com/watch?v=qtQgbdmIO30",
            "label" : "Video URL",
            "info" : "Youtube (important) video url!"
          },
          {
            "type" : "range",
            "id" : "overlay_op",
            "label" : "Overlay",
            "info" : "Set to 0 to disable overlay.",
            "max" : 100,
            "min" : 0,
            "step" : 1,
            "default" : 50
          },
          {
            "type" : "checkbox",
            "id" : "parallax",
            "label" : "Enable Parallax Scrolling Effect"
          },
          {
            "type" : "header",
            "content" : "Content"
          },
          {
            "type" : "checkbox",
            "id" : "mega_text",
            "label" : "Mega Text Size?"
          },
          {
            "type" : "checkbox",
            "id" : "shadow_text",
            "label" : "Text Shadow?"
          },
          {
            "type" : "text",
            "id" : "pre_title",
            "label" : "Pre-Title",
            "default" : "This is an"
          },
          {
            "type" : "text",
            "id" : "title",
            "label" : "Title",
            "default" : "Image Overlay Section"
          },
          {
            "type" : "textarea",
            "id" : "content",
            "label" : "Content"
          },
          {
            "type" : "image_picker",
            "id" : "title_image",
            "label" : "Title Logo"
          },
          {
            "type" : "header",
            "content" : "buttons"
          },
          {
            "type" : "text",
            "id" : "button_1_text",
            "default" : "Collection Button",
            "label" : "Button 1 Text"
          },
          {
            "type" : "url",
            "id" : "button_1_link",
            "default" : "/collections/all",
            "label" : "Button 1 Link"
          },
          {
            "type" : "text",
            "id" : "button_2_text",
            "label" : "Button 2 Text"
          },
          {
            "type" : "url",
            "id" : "button_2_link",
            "label" : "Button 2 Link"
          },
          {
            "type" : "checkbox",
            "id" : "video_button",
            "label" : "Show Video Button"
          },
          {
            "type" : "checkbox",
            "id" : "video_button_big",
            "label" : "Big Video Button?",
            "default" : true
          }
        ]
      }

    ],
    "max_blocks" : 10
  }
{% endschema %}