<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
  {% include 'social-meta-tags' %}
  {% include 'css-variables' %}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {% include 'style-tags', layout: 'theme' %}
  {% render 'theme-header' %}
  <link rel="preload" href="{{ 'magiczoom.css' | asset_url}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <script src="{{ 'magiczoom.js' | asset_url }}" defer></script>

  <link rel="stylesheet" href="https://unpkg.com/beerslider/dist/BeerSlider.css">


  {% if settings.typekit_text %}{{settings.typekit_text}}{%endif%}
{% if settings.header_code != blank %}
      {{settings.header_code}}
  {%endif%}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {% include 'script-tags', layout: 'theme' %}

  {{ content_for_header }}
</head>
{% include 'globo.formbuilder.scripts' %}
<body  id="{{ page_title | handle }}" class="{% include 'body-classes'%}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'announcement' %}
  <div class="page">

  {% comment %} Header Layout logic  {% endcomment %}
  {% if settings.header_layout contains 'mega' %}

    <section class="site-header__wrap  mobile--{{settings.mm_behavior}} mega-menu-wrapper {% if settings.overlay_shadow  == true%} box-shadow {%endif%} {% if settings.overlay_header  == true %} overlay-header {%endif%} fixed--{{settings.header_fixed}}">
    {% section 'header-simple' %}
    {% section 'mega-menu' %}
    <script>
      {% if settings.overlay_header == "true" %}
          document.body.classList.add('header-overlay');

      {%endif%}
      {% if setting.header_fixed == 'fixed' %}
        document.getElementById('shopify-section-header').style.position = 'sticky';
        document.getElementById('shopify-section-header').style.top = '0px';
      {% elsif settings.header_fixed == 'sticky-bottom' %}
        document.getElementById('shopify-section-header').classList.add('sticky-bottom')
      {%endif%}
      {% if settings.overlay_shadow == true %}
      document.body.classList.add('overlay-shadow');
      {%endif%}
    </script>

  </section>
  {%else %}
  {% section 'header' %}
  {%endif%}
  <main role="main" id="MainContent">
    {{ content_for_layout }}
    {% section 'footer' %}
  </main>
  </div>

  {% include 'theme-footer' %}

</body>
</html>
